.formCenter{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.center{
	text-align: center;
}

.margin{
	margin: 0% 1% 0% 1%;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #3a7999;
    color: #f2f2f2;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #3a7999c7;
}

h1{
	text-align: center;
	font-family: 'Acme', sans-serif;
}

h3{
	font-family: 'Acme', sans-serif;
}

img{
	max-width: 50%;
}

.inputTransparente{
	background-color: transparent;
	border-color: transparent;
}
.inputTransparente:hover{
	cursor: default !important;
}

.tarea{
	width: 17%;
	background-color: #eff0f1;
	display: inline-block;
	margin: 1%;
}

.finalizar{
	background-color: #5cb85c !important;
}

.finalizar:hover{
	background-color: #5cb85cab !important;
}

.inline{
	display: inline-block;
	align-items:center;
}

.btnCancelar{
	background-color: #d9534f !important;
}

.btnCancelar:hover{
	background-color: #d9534fb8 !important;
}

.btnEditar{
	max-width: 10%;
    float: right;
}

.btnEditar:hover{
	cursor: pointer;
}

#labelMenu{
	color: #f2f2f2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3a7999;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#contenidoPrincipal {
    transition: margin-left .5s;
    padding: 16px;
}

#btnMenu{
	font-size:30px;
	font-family: 'Acme', sans-serif;
	cursor:pointer;
}

.menuVisible{
	width: 20%;
}

.moverContenido{
	margin-left: 20%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.itemMenu:hover{
	background-color: #28546b !important;
}


@media screen and (max-width: 1024px) {
	.formCenter{
	    position: absolute;
	    left: 50%;
	    top: 40%;
	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    border-radius: 5px;
	    background-color: #f2f2f2;
	    padding: 20px;
	    width: 80%;
	}
}